body{
    background-image: url(pexels-mikebirdy-120049.jpg);
    background-repeat: no-repeat;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
}

.navText{
    margin: auto auto;
}

.navImg{
    padding: 5px;
    background: transparent;
    opacity: 50px;
}